.featured{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.featuredItem {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    overflow-y: scroll;
}

.featuredItem::-webkit-scrollbar {
  width: 0.3rem;
}

.featuredItem::-webkit-scrollbar-track {
  background: #ffffff;
}

.featuredItem::-webkit-scrollbar-thumb {
  background: #54d65f;
}
.featuredTitle{
    font-size: 20px;
}
.featuredNumberContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}
.featuredNumber{
    font-size: 30px;
    font-weight: 600;
}
.featuredIcon {
    font-size: 20px;
    margin-left: 5px;
}
.featureSub {
    font-weight: bold;
}