.order-nav-item {
  width: 150px;
  margin-left: 12px;
  margin-right: 12px;
  text-align: center;
}
.order-navbar-brand {
  margin-left: 25px;
  margin-right: 25px;
  font-weight: bold;
}
.order-nav-item:hover {
  background-color: darkgrey;
}
.order-item {
  border-radius: 6px !important;
  padding: 1rem !important;
  margin-bottom: 1.5rem !important;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(58 59 69 / 20%) !important;
  background-color: #fff !important;
}
.order-mb-1,
.order-my-1 {
  margin-bottom: 0.25rem !important;
}
.order-align-items-center {
  align-items: center !important;
}
.order-d-flex {
  display: flex !important;
}
.order-text-dark {
  color: #5a5c69 !important;
}
.order-mb-2,
.order-my-2 {
  margin-bottom: 0.5rem !important;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.order-pt-2,
.order-py-2 {
  padding-top: 0.5rem !important;
}
.order-mt-3,
.order-my-3 {
  margin-top: 1rem !important;
}
.order-align-items-center {
  align-items: center !important;
}
.order-d-flex {
  display: flex !important;
}
.order-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.order-pr-2,
.order-px-2 {
  padding-right: 0.5rem !important;
}
.order-btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.order-btn {
  text-transform: uppercase;
  letter-spacing: 0.4px;
}
.order-btn,
.order-form-control {
  border-radius: 6px;
  font-size: 13px;
  min-height: 37px;
  line-height: 22px;
}
.order-btn-block {
  display: block;
  width: 100%;
}
.order-btn-primary {
  color: #fff;
  background-color: #c60021;
  border-color: #c60021;
}
.order-btn {
  display: inline-block;
  font-weight: 400;
  color: #858796;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.35rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
a {
  text-decoration: none !important;
}
a {
  color: #c60021;
  text-decoration: none;
  background-color: transparent;
}
