.order-nav-item {
  width: 120px;
  margin-left: 12px;
  margin-right: 12px;
  text-align: center;
}
.order-navbar-brand {
  margin-left: 25px;
  margin-right: 25px;
  font-weight: bold;
}
.order-nav-item:hover {
  background-color: darkgrey;
}
.order-item {
  border-radius: 6px !important;
  padding: 1rem !important;
  margin-bottom: 1.5rem !important;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(58 59 69 / 20%) !important;
  background-color: #fff !important;
}

.homecook {
  margin-right: 30px;
}
.icon {
  margin-right: 40px;
}
.order-total {
  color: #c59d5f;
  margin-left: auto;
}
.order-text{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
}