.SidebarHome-nav-menu {
  background-color: none;
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  justify-content: center;
  top: 4.5rem;
  left: 0;
}

.SidebarHome-nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.SidebarHome-nav-text a {
  background-color: rgba(103, 162, 42,0.75);
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 1rem;
}

.SidebarHome-nav-text a:hover {
  background-color: #67A22A;
  color: white;
  transition: all 0.2s linear;
  transform: scale(1.1,1.1);
}

.SidebarHome-nav-menu-items {
  width: 100%;
  padding: 0;
  margin: 0;
}