body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  font-family: "Lato", sans-serif;
}
.float-right {
  float: right;
}
a,
a:hover {
  text-decoration: none;
  color: black;
}
.h2 {
  width: 100%;
  font-size: 900;
  color: #0f0f0f;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #453d5c;
}

.popup-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}


.footer {
  background-color: #ffffff;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
  font-size: 80%;
  color: #0f0f0f;

  bottom: 0;
}
.btn:focus {
  outline: none !important;
  box-shadow: none;
}
.h3 {
  font-size: calc(1rem + 0.6vw) !important;
}
.bg-grey {
  background-color: #f8f9fc;
}

.bg-liner {
  background-image: linear-gradient(#c60021, #2c45b4);
}

/* START CSS for group-transition */
.page-enter {
  opacity: 0;
  transform: scale(0.9);
}
.page-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.page-exit {
  opacity: 1;
}
.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
/* END CSS for group-transition */

.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mr-1 {
  margin-right: 0.25rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mr-3 {
  margin-right: 1rem;
}
.ml-1 {
  margin-left: 0.25rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.ml-3 {
  margin-left: 1rem;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mx-3 {
  margin-right: 1rem;
  margin-left: 1rem;
}
.mt-3 {
  margin-top: 1rem;
}
.mb-3 {
  margin-bottom: 1rem;
}
.p-0 {
  padding: 0;
}
.mr-0 {
  margin-right: 0;
}

.mt-auto {
  margin-top: auto;
}

.pt-7 {
  padding-top: 5rem;
}
