.left {
    background-image: url("./login.jpg");
    background-size: cover;
    height: 100%;
}
.right {
}
.Row {
    display: flex;
    flex-wrap: wrap;
}
.right {
    flex-direction: column !important;
    justify-content: center;
    display: flex;
    padding-left: 0;
    padding-right: 0;
}
.loginForm {
    margin-left: auto !important;
    margin-right: auto !important;
    height: 100%;
}

.order-navbar
.home-navbar
